/* Any handrolled styles */


.dotted {
  /* padding: 2.25em 1.6875em; */
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 181, 153, 0.5), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0, 181, 153, 0.5), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0, 181, 153, 0.5), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0, 181, 153, 0.5), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 5px 5px;
  -moz-background-size: 5px 5px;
  background-size: 5px 5px;
}

.bg-clear {
  background-color: #fff;
  padding: 1% 2% 2% 2%;
}

.section {
  margin: 1% 0;
}

.navbar {
  margin: 0;
  padding: 0;
}

.bg-green {
  background-color: #00B599;
  min-height: 0px;
  height: 10px;
  border-radius: 0px;
}

.firstname, .lastname, .email {
  width: 50%;
  padding: 0 5% 0 0;
  float: left;
}
.email {
  width: 100%;
  padding: 0 5% 0 0;
  float: left;
}

.founder-contact {
  display: block;
  width: 50%;
  float: left;
  margin: 15px 0;
}

footer form {
  margin: 15px 0;
}

#contact i {
  margin: 10px 0 0 25px;

.medium-size-text {
  font-size: 20px;
}

.italic-text {
  font-style: italic;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}
