<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">

            
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">

                <div class="image-background" style="position: absolute; z-index: 0;">
                    <%= image_tag("watermark_footer.png", alt: 'drie.co', class: 'img-responsive img-greyed') %>
                </div>

                 <%= link_to image_tag("drie_reversal_logo.png", width: '100', height: '100', alt: 'drie.co', class: 'img-responsive', :style=> "padding-top: 66px; padding-bottom: 10px; margin-left: 10px;"), root_path %>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Products </h3>
                    <ul class="footer-list">
                        <li> <a href="http://www.drie.co"> drie </a> </li>
                        <!--<li> <a href="https://push.drie.co/"> drie push </a> </li>-->
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Learn </h3>
                    <ul class="footer-list">
                      <li> <a href="http://docs.drie.co/"> Get Started </a> </li>
                      <li> <a href="http://docs.drie.co/docs/deploy-a-ruby-app-on-drie-1"> Deploy Rails app </a> </li>
                      <li> <a href="http://docs.drie.co/docs/deploy-a-nodejs-express-4-app-on-drie?__hstc=181257784.4f0a61aeb76f8166d2a54d950d2dabfe.1474639450140.1474648819675.1474651886335.4&__hssc=181257784.20.1474651886335&__hsfp=836449569"> Deploy Node app </a> </li>
                      <li> <a href="http://docs.drie.co/docs/deploy-a-php-app-on-drie"> Deploy PHP app</a> </li>
                      <li> <a href="http://docs.drie.co/docs/deploy-a-java-spark-microframework-app-on-drie?__hstc=181257784.4f0a61aeb76f8166d2a54d950d2dabfe.1474639450140.1474648819675.1474651886335.4&__hssc=181257784.22.1474651886335&__hsfp=836449569"> Deploy Java app</a> </li>
                      <li> <a href="http://docs.drie.co/docs/deploy-a-google-go-golang-rest-api-server-on-drie?__hstc=181257784.4f0a61aeb76f8166d2a54d950d2dabfe.1474639450140.1474648819675.1474651886335.4&__hssc=181257784.22.1474651886335&__hsfp=836449569"> Deploy Go app</a> </li>
                  </ul>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> About </h3>
                    <ul class="footer-list">
                      <li> <a href="https://blog.drie.co/"> Blog </a> </li>
                      <li> <a href="./our_team.html"> Our Team </a> </li>
                      <li> <a href="http://docs.drie.co/docs/drie-platform-overview"> What is drie </a> </li>

                    </ul>
                </div>

                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                <h3> Support </h3>
                <ul class="footer-list">
                    <!--<li> <a href="http://docs.drie.co/docs/drie-platform-overview"> Help </a> </li>
                    <li> <a href="http://docs.drie.co/docs/drie-platform-overview"> Status </a> </li>-->
                    <li> <a href="./contact.html"> Contact Us</a> </li>
                </ul>
                </div>

                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6 ">
                    <h3> Follow Us </h3>


                    <ul class="social">
                      <li> <a href="https://www.facebook.com/profile.php?id=620050311466158&fref=ts"> <i class="fa fa-facebook">   </i> </a> </li>
                      <li> <a href="https://twitter.com/drie_co"> <i class="fa fa-twitter">   </i> </a> </li>
                      <li> <a href="https://youtu.be/l1eU0F4AX-8"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>


                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom hidden">
        <div class="container">
            <p class="pull-right">© drie secure systems ltd. 2016 - made in London</p>

        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
