<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="https://www.drie.co/favicon.ico">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="drie | Get AWS security best practice in minutes | drie have built a platform which enables small teams to deploy applications onto AWS in minutes without cutting security corners. "/>
    <meta
        name="keywords"
        content="cloud computing companies, cloud computing, cloud, the cloud, paas, cloud security, AWS, cloud server, cloud app, what is the cloud, what is a platform as a service, platform as a service, what is cloud computing, cloud services, cloud technology, cloud hosting, amazon web services, drie application, drie app, cloud platform, security in cloud"/>
    <meta name="author" content="metatags generator">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="2 days">
    <title>drie - Better cloud security in minutes</title>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@drie_co">
    <meta name=" twitter:title" content=" drie - Better cloud security in minutes">
    <meta name="twitter:creator" content="@drie_co">
    <meta name="twitter:description" content="drie | Get AWS best practice in minutes | platform as a service">
    <meta name="twitter:image:src" content="https://www.drie.co/drie_logo.png">
    <!-- Facebook -->
    <meta property="og:url" content="https://www.drie.co/">
    <meta property="og:title" content="drie - Better cloud security in minutes">
    <meta property="og:description" content="drie | Get AWS best practice in minutes | platform as a service">
    <meta property="og:site_name" content="drie">
    <meta property="og:image" content="https://www.drie.co/drie_logo.png">
    <meta property="og:type" content="website">
    <meta name="robots" content="noodp">
    <!-- Google Plus -->
    <meta itemprop="name" content="drie - Better cloud security in minutes">
    <meta itemprop="description" content="drie | Get AWS best practice in minutes | platform as a service">
    <meta itemprop="image" content="https://www.drie.co/drie_logo.png">
    <!-- Canonical URL -->
    <link rel="canonical" href="https://www.drie.co/">
    <meta property="og:image" content="https://s3-eu-west-1.amazonaws.com/drie-assets/Drie+dot+device.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- styles -->
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link href="//cdn.shopify.com/s/files/1/0691/5403/t/128/assets/style.scss.css?12510731831507118242" rel="stylesheet" type="text/css" media="all"/>

        <style type="text/css">

            h1 {
                font-size: 32px;
                font-family: "Open Sans";
            }
            h2 {
                font-size: 24px;
                font-family: "Open Sans";
            }
            h3 {
                font-size: 20px;
                font-family: "Open Sans";
            }
            h4 {
                font-size: 18px;
                font-family: "Open Sans" bold;
            }
            p {
                font-size: 16px;
                font-family: "Open Sans";
            }
            a:hover {
                color: #00B599;
            }

            .singlewordcolor {
                color: #00B599;
            }
            .hero-homepage.hero {

                padding-bottom: 28px;

                background-color: transparent !important;
            }

            .isolation {
                position: absolute;
                top: 450px;
            }

            footer form {
                margin: 15px 0;
            }
            #contact i {
                margin: 10px 0 0 25px;
            }
            .medium-size-text {
                font-size: 20px;
            }
            .italic-text {
                font-style: italic;
            }
            .full {
                width: 100%;
            }
            .gap {
                height: 30px;
                width: 100%;
                clear: both;
                display: block;
            }
            .footer {
                background: #4A4A4A;
                height: auto;
                padding-bottom: 30px;
                position: relative;
                width: 100%;
                border-bottom: 1px solid #CCCCCC;
                border-top: 1px solid #DDDDDD;
                text-align: left;
                padding: 1px 0;
            }
            .footer p {
                margin: 0;
            }
            .footer img {
                max-width: 100%;
            }
            .footer h3 {
                border-bottom: 1px solid #BAC1C8;
                color: #f3f3f3;
                font-size: 18px;
                font-weight: 600;
                line-height: 27px;
                padding: 40px 0 10px;
                text-transform: uppercase;
            }
            .footer ul {
                font-size: 13px;
                list-style-type: none;
                margin-left: 0;
                padding-left: 0;
                margin-top: 15px;
                color: #7F8C8D;
            }
            .footer ul li a {
                padding: 0 0 5px;
                display: block;
            }
            .footer a {
                color: #f3f3f3;
            }
            .supportLi h4 {
                font-size: 20px;
                font-weight: lighter;
                line-height: normal;
                margin-bottom: 0 !important;
                padding-bottom: 0;
            }
            .newsletter-box input#appendedInputButton {
                background: #FFFFFF;
                display: inline-block;
                float: left;
                height: 30px;
                clear: both;
                width: 100%;
            }
            .newsletter-box .btn {
                border: medium none;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -o-border-radius: 3px;
                -ms-border-radius: 3px;
                border-radius: 3px;
                display: inline-block;
                height: 40px;
                padding: 0;
                width: 100%;
                color: #fff;
            }
            .newsletter-box {
                overflow: hidden;
            }
            .bg-gray {
                background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
                box-shadow: 0 1px 0 #B4B3B3;
            }

            li {
                list-style-type: none;
            }

            ul {
                padding: 0;
                list-style-type: none;
            }

            .social li {
                background: none repeat scroll 0 0 #B5B5B5;
                border: 2px solid #B5B5B5;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -o-border-radius: 50%;
                -ms-border-radius: 50%;
                border-radius: 50%;
                float: left;
                height: 36px;
                line-height: 36px;
                margin: 0 8px 0 0;
                padding: 0;
                text-align: center;
                width: 36px;
                transition: all 0.5s ease 0s;
                -moz-transition: all 0.5s ease 0s;
                -webkit-transition: all 0.5s ease 0s;
                -ms-transition: all 0.5s ease 0s;
                -o-transition: all 0.5s ease 0s;
            }
            .social li:hover {
                transform: scale(1.15) rotate(360deg);
                -webkit-transform: scale(1.1) rotate(360deg);
                -moz-transform: scale(1.1) rotate(360deg);
                -ms-transform: scale(1.1) rotate(360deg);
                -o-transform: scale(1.1) rotate(360deg);
            }
            .social li a {
                color: #EDEFF1;
            }
            .social li:hover {
                border: 2px solid #2c3e50;
                background: #2c3e50;
            }
            .social li a i {
                font-size: 16px;
                margin: 0 0 0 5px;
                color: #EDEFF1 !important;
            }
            .footer-bottom {
                background: #E3E3E3;
                border-top: 1px solid #DDDDDD;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .footer-bottom p.pull-left {
                padding-top: 6px;
            }
            @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic);
            * {
                margin: 0;
            }
            body {
                margin: 0;
                font-family: Source Sans Pro, sans-serif;
            }

            .img-greyed {
                opacity: 0.1;
            }

            .tick-mark {
                padding: 0 15px;
            }
            @media (min-width: 768px) {
                .three-blob-header {
                    height: 70px;
                }

                .three-blob-text {
                    height: 180px;
                }
            }
            @media (min-width: 992px) {
                .three-blob-header {
                    height: 50px;
                }

                .three-blob-text {
                    height: 150px;
                }
            }

            .btn {
                padding: 14px 18px;
                font-size: 15px;
                line-height: 15px;
                color: white!important;
                background-color: #00B599;
                -webkit-border-radius: 999em;
                -moz-border-radius: 999em;
                border-radius: 999em;
                border: 1px solid #00B599;
                font-weight: normal;
                vertical-align: middle!important;
                outline: 0!important;
            }
            @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic);
            * {
                margin: 0;
            }
            body {
                margin: 0;
                font-family: Source Sans Pro, sans-serif;
            }
            dl#simple-gallery {
                position: relative;

                font-size: 0;
                padding: 3rem 3rem 8rem;
            }
            dl#simple-gallery dt {
                width: 12.5%;
                min-width: 50px;
                cursor: pointer;
            }
            dl#simple-gallery dt img {

                height: auto;
            }
            dl#simple-gallery dt:focus+dd,
            dl#simple-gallery dt:hover+dd {
                opacity: 1;
            }
            dl#simple-gallery dd {
                position: absolute;
                top: 3rem;
                left: 22%;
                opacity: 0;
                transition: 0.7s opacity;
                text-align: center;
                font-size: 1.4rem;
                font-style: italic;
                color: #fff;
                padding-left: 0;
                width: 40%;
            }
            dl#simple-gallery dd img {
                width:100% height: auto;
                box-shadow: 0 0 8px rgba(0,0,0,0.3);
                display: block;
                margin-bottom: 1rem;
            }

            .showme {
                display: none;
            }
            .showhim:hover .showme {
                display: block;
            }
            .row:hover .select {
                display: block;
            }

            .select {
                display: none;
            }

            

        </style>




    </head>
