<nav class="navbar navbar-inverse navbar-fixed-top">
              <div style="background-color:#00B599; height: 5px"></div>
            <div style="background-color:#00B599; height: 5px"></div>
    <div class="container" style="background-color: white;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <%= link_to image_tag("drie_logo.png", width: '100', height: '100', alt: 'drie.co', class: 'img-responsive', :style=> "padding-top: 10px; padding-bottom: 10px; margin-left: 10px;"), root_path %>
        
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" style="background-color: white;">
                            <li class="active">
                              
                                <a style="color:#00B599;" href="./pricing.html">PRICING<br></a>
                            </li>

                            <li class="">
                                <a style="color:#00B599;" href="./our_team.html">OUR TEAM</a>
                            </li>
                            <li class="">
                                <a style="color:#00B599;" href="./insights.html">INSIGHTS</a>
                            </li>
                             <li class="">
                                <a style="color:#00B599;" href="./insights.html">PRESS</a>
                            </li>
                            <li class="">
                                <a style="color:#00B599;" href="#contact">CONTACT US</a>
                            </li>
                            <li class="">
                                <a style="color:#00B599;" target="_blank" href="https://web_dashboard.app.drie.co/login">LOGIN</a>
                            </li>
                        </ul>

        </div --><!--/.navbar-collapse -->
    </div>
</nav>

<br><br><br>