<div class="section bg-clear">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">Avoid the pain of compliance and security regulations
                                <br>
                            </h1>
                            <p class="text-center"></p>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="" alt="" class="img-responsive">
                                <h2 style="background-color: #00B599; color: white
; padding: 10px;">Government</h2>
                                <p>drie has been built to meet <a href="https://www.gov.uk/government/publications/cloud-service-security-principles/cloud-service-security-principles">CESG's Cloud Security Principles</a>. The drie team brings experience of building and running a platform for government services with millions of users with over 250 developers working on it. We provide a way to get services that hold official data up and running very quickly.</p>
                            </div>
                            <div class="col-md-4">
                                <img src="" alt="" class="img-responsive">
                                <h2 style="background-color: #00B599; color: white
; padding: 10px;">Fintech</h2>
                                <p>We strongly believe that every fintech company should be thinking security first. With drie we provide the security you need to get going fast with compliance built in.</p>
                            </div>
                            <div class="col-md-4">
                                <img src="" alt="" class="img-responsive">
                                <h2 style="background-color: #00B599; color: white
; padding: 10px;">Healthtech</h2>
                                <p>Making cloud computing secure is our key imperative. The industry is suffering from high IT maintenance cost, low speed of development, a lack of internal expertise to support on-premise alternatives and above and beyond major security concerns. The answer to these problems can only be the cloud and the solution is drie.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>