<div class="bg-clear section" style="background-color: #49305b">
    <div class="container">

        <div class="col-md-3" style="color: white"></div>
        <div class="col-md-5" style="color: white">
            <h4 class="text-left">Contact us to find out more how we can provide secure, reliable and fast deployment for you.</h4>

        </div>
        <div class="col-md-1" style="color: white">

            <p class="text-left">
                <a class="btn btn-success" style="background-color: #00B599 ; border-color:#00B599;" href="./pricing.html">Contact Drie</a>
            </p>
        </div>

        <div class="col-md-3" style="color: white"></div>

    </div>
</div>
