<div class="panel panel-default" style="background-color: #49305b; color: white;">
    <div class="panel-body">
        <div class="panel-content col-md-offset-3">
            <h5 class="m-b-0 m-t-0 col-md-10">Get in touch with drie for your cloud security and start deploying apps</h5>
        </div>
        <div class="panel-actions">
            <a class="btn btn-lg" style="background-color: #00B599 ; border-color:#00B599; color: white" href="/collections/all">Contact drie</a>
        </div>
    </div>
</div>
