
    <div class="bg-clear section" style="background-color: #00B599">
        <div class="container" style="background-color: #00B599;">

            <div class="col-md-2" style="color: white"></div>
            <div class="col-md-8" style="color: white">
                <h1 class="text-center">Create a drie account today</h1>
                <p class="text-center">
                    Join drie today to benefit from secure and fast deployment.
                </p>

                <form name="insightly_web_to_lead" action="https://e6ly17bw.insight.ly/WebToLead/Create" method="post">
                <div class="form-group firstname">
                    <input type="hidden" name="formId" value="gxFZ7XAWiGuO2AwnXDHFoQ==">

                    <input class="form-control" id="insightly_firstName" placeholder="Enter First Name" name="FirstName" type="text">
                </div>
                <div class="form-group lastname">

                    <input class="form-control" id="insightly_lastName" placeholder="Enter Last Name" name="LastName" type="text">
                </div>
                <div class="form-group email">

                    <input class="form-control" id="insightly_Email" placeholder="Enter Email" name="email" type="text">
                </div>
                <input type="hidden" id="insightly_ResponsibleUser" name="ResponsibleUser" value="1053566">
                <input type="hidden" id="insightly_LeadSource" name="LeadSource" value="780818">
                <input class="btn btn-success" style="background-color: #49305b ; border-color:#49305b" type="submit" value="Sign up">
            </form>

            <p style="font-size: 8px; padding-top:10px;">By signing up, you agree to the
                <a href="http://docs.drie.co/docs/terms-of-service">Terms of Service</a>
            </p>


            </div>
            <div class="col-md-2" style="color: white"></div>


        </div>
    </div>
