<div class="bg-clear section" style="background-color: #4A4A4A">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="color: white">
                <h2 class="text-center">Don't spend months designing, building and operating your own solution.</h2>
                <h3 class="text-center">Pick a plan and sign up in 30 seconds.</h3>
                <p class="text-center">
                    <a class="btn btn-success" style="background-color: #00B599 ; border-color:#00B599;" href="./pricing.html">14 day free trial</a>
                </p>
            </div>
        </div>
    </div>
</div>
