<div class="container">
    <div class="page-header">
        <h1 class="text-center">drie value comparisons</h1>
    </div>
    <div class="page-header">
        <h4 class="text-center">drie is different, We don't believe in black boxes we are transparent with all the technologies we use and how drie achieves AWS best practices</h4>
    </div>
    <div class="row">
        <div class="col-md-4">

            <div>
                <div >
                    <h3>drie Versus</h3>
                </div>
                <div>
                    Heroku
                    Cloudfoundry
                    Elastic Beanstalk
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-4">

            <div>
                <div >
                    <h3>circles</h3>
                </div>
                <div>
                    image
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-4">

            <div>
                <div >
                    <h3>drie vs. Heroku</h3>
                </div>
                <div>
                    box with text
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>