<div class="container">
    <div class="page-header">
        <h1 class="text-center singlewordcolor">drie value comparisons</h1>
    </div>
    <div class="page-header">
        <h4 class="text-center">drie is different, We don't believe in black boxes we are transparent with all the technologies we use and how drie achieves AWS best practices</h4>
    </div>
    <div class="row">
        <div class="col-md-4">

            <div>

            <dl id="simple-gallery">
<dt tabindex="1"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/london-thumb.jpg" alt="Heroku">
<dd><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/london.jpg" alt>Westminster Bridge at dusk, London

<dt tabindex="2">Cloudfoundry<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/paris-thumb.jpg" alt>
<dd><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/paris.jpg" alt>The Eiffel tower, Paris

<dt tabindex="2">Elastic Beanstalk<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/san-francisco-thumb.jpg" alt>
<dd><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/san-francisco.jpg" alt>Golden Gate bridge at sunset, San Francisco
</dl>

                <div >
                    <h3 class="singlewordcolor">drie Versus</h3>
                </div>
                <div>
                    Heroku
                    Cloudfoundry
                    Elastic Beanstalk
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-4">
       <div>
                <div class="image-container">
                  <div class="image"></div>
                </div>
                <div class="clearfix"></div>
        </div>    
        </div>

        <div class="col-md-4">

            <div>
                <div >
                    <h3>drie vs. Heroku</h3>
                </div>
                <div>
                    box with text
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>