<div class="row homepage-grid p-t text-center" style="height: 560px">
  <div class="page-header">
      <h1 class="text-center singlewordcolor">Embrace compliance and security regulations</h1>
  </div>
    <div class="col-sm-4">
      <%= image_tag("36_secure_data_folder_128.png", alt: 'drie.co', class: 'homepage-grid-icon', style: "height:128px; width:128px;") %>
      <h5 class="singlewordcolor">Government</h5>
      <p class="text-muted">drie has been built to meet
          <a href="https://www.gov.uk/government/publications/cloud-service-security-principles/cloud-service-security-principles">CESG's Cloud Security Principles</a>. The drie team brings experience of building and running a platform for government services with millions of users with over 250 developers working on it. We provide a way to get services that hold official data up and running very quickly.</p>
    </div>

    <div class="col-sm-4">
      <%= image_tag("36_computer_security_128.png", alt: 'drie.co', class: 'homepage-grid-icon', style: "height:128px; width:128px;") %>
      <h5 class="singlewordcolor">Fintech</h5>
      <p class="text-muted">We believe that every fintech company should be thinking security first. We work with financial organisations to identify small, fast, valuable applications that can be delivered onto drie using agile delivery methods.  drie provides combination of usability and security you need to innovate against changing compliance regulation.</p>
    </div>

    <div class="col-sm-4">
      <%= image_tag("36_fingerpring_scanning_128.png", alt: 'drie.co', class: 'homepage-grid-icon', style: "height:128px; width:128px;") %>
      <h5 class="singlewordcolor">Healthtech</h5>
      <p class="text-muted">Making cloud computing secure is our key imperative. The industry is suffering from high IT maintenance cost, low speed of development, a lack of internal expertise to support on-premise alternatives and above and beyond major
          security concerns. The answer to these problems can only be the cloud and the solution is drie.</p>
    </div>
</div>
