<div class="row homepage-grid p-t text-center" style="height: 640px">
    <div class="page-header">
        <h1 class="text-center singlewordcolor">Embrace compliance and security regulations</h1>
    </div>
    <div class="col-sm-4">
        <%= image_tag("secure_data_folder.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
        <h5 class="singlewordcolor">Government</h5>
        <p class="text-muted">drie has been built to meet
            <a href="https://www.gov.uk/government/publications/cloud-service-security-principles/cloud-service-security-principles">CESG's Cloud Security Principles</a>. The drie team brings experience of building and running a platform for government services with millions of users with over 250 developers working on it. We provide a way to get services that hold official data up and running very quickly.</p>
    </div>

    <div class="col-sm-4">
        <%= image_tag("computer_security.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
        <h5 class="singlewordcolor">Financial Services</h5>
        <p class="text-muted">Security concerns, regulatory constraints and concerns over public breach notifications are three of your main drivers for cloud adoption. drie offers you infrastructure flexibility, reduced total cost of ownership and shortened time to market whilst providing a strong security layer on top. We accommodate financial services sector-specific regulations and lock down access to your services so that only authorised users can access your code, the application logs and your customer's data.</p>
    </div>

    <div class="col-sm-4">
        <%= image_tag("fingerpring_scanning.png", alt: 'drie.co', class: 'homepage-grid-icon') %>
        <h5 class="singlewordcolor">Healthcare</h5>
        <p class="text-muted">Security concerns in healthcare are real, especially considering all of the sensitive data held. The industry is a target for security breaches due to medical files being a sought after stolen property that yields high revenues. drie provides an all-in-one solution that tackles 3 needs of healthcare players; data security, lowering the cost of IT maintenance, and staffing challenges.</p>
    </div>
</div>
