<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 bg-clear">
                <h1>Better cloud security in minutes</h1>
                <div id="header"></div>
                <simpla-text sid="text">
                    <h3>Build, deploy and scale your software with AWS security best practices&nbsp;</h3>
                </simpla-text>
                <p>Embrace digital transformation by moving to the cloud. Add, deploy and scale on AWS. Decrease on-premise workload. Scale with on-demand technology. drie gives you the security of privately managed infrastructure with the cost savings, ease of
                    development and deployment of the public cloud.</p>
                <form name="insightly_web_to_lead" action="https://e6ly17bw.insight.ly/WebToLead/Create" method="post">
                    <div class="form-group firstname">
                        <input type="hidden" name="formId" value="gxFZ7XAWiGuO2AwnXDHFoQ==">
                        <label for="insightly_firstName">First Name:</label>
                        <input class="form-control" id="insightly_firstName" placeholder="Enter First Name" name="FirstName" type="text">
                    </div>
                    <div class="form-group lastname">
                        <label for="insightly_lastName">Last Name:</label>
                        <input class="form-control" id="insightly_lastName" placeholder="Enter Last Name" name="LastName" type="text">
                    </div>
                    <div class="form-group email">
                        <label for="email">Email:</label>
                        <input class="form-control" id="insightly_Email" placeholder="Enter Email" name="email" type="text">
                    </div>
                    <input type="hidden" id="insightly_ResponsibleUser" name="ResponsibleUser" value="1053566">
                    <input type="hidden" id="insightly_LeadSource" name="LeadSource" value="780818">
                    <input class="btn btn-success" style="background-color: #00B599 ; border-color:#00B599; width:359px;" type="submit" value="Create an Account">
                </form>

                <p style="font-size: 8px; padding-top:10px;">By signing up, you agree to the
                    <a href="http://docs.drie.co/docs/terms-of-service">Terms of Service</a>
                </p>
            </div>
            <br>
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/l1eU0F4AX-8" frameborder="0" allowfullscreen=""></iframe>
                </div>
                <br>
                <p class="text-right">
                    <a target="_blank" class="btn btn-success" style="background-color: #00B599; border-color:#00B599; width:359px;" href="http://docs.drie.co/docs/drie-platform-overview">How drie works</a>
                </p>
            </div>
        </div>
    </div>
</div>
