<div class="bg-clear section text-center">
    <div class="container">
        <div class="row text-left">
            <div class="col-md-12" id="about">
                <h2 class="text-center">Isolation, encryption and identity management by design</h2>
                <p class="text-center">
                    <a target="_blank" href="https://medium.com/drie-co" style="color: #00B599; font-weight: bold;">Learn more</a>
                    about how we have designed our platform to give your software applications the greatest isolation from other users and how we use AWS security best practice to implement a repeatable, effective baseline security for our users.</p>
            </div>
        </div>
    </div>
</div>
