<div class="section">
    <div class="container">
        <div class="row">
          <div class="col-md-6">
              <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="574" height="315" src="https://www.youtube-nocookie.com/embed/l1eU0F4AX-8" frameborder="0" allowfullscreen=""></iframe>
              </div>


          </div>
            <div class="col-md-6 bg-clear">

              <div>
                  <%= link_to image_tag("36_online_privacy_64.png", alt: 'drie.co', class: 'homepage-grid-icon'), root_path %>
              </div>


                <h3>Build, deploy and scale your software with AWS security best practices&nbsp;</h3>

                <p>Embrace digital transformation by moving to the cloud. Add, deploy and scale on AWS. Decrease on-premise workload. Scale with on-demand technology. drie gives you the security of privately managed infrastructure with the cost savings, ease of
                    development and deployment of the public cloud.</p>

                    <p class="text-right">
                        <a target="_blank" class="btn btn-success" style="background-color: #00B599; border-color:#00B599" href="http://docs.drie.co/docs/drie-platform-overview">How drie works</a>
                    </p>

            </div>


        </div>
    </div>
</div>


<div class="row row-padded row-bordered row-centered">
    <div class="col-sm-6">
      <div class="homepage-terminal-example">
        <p class="m-b-md">
          <span class="text-muted">&gt; $ npm install</span><br>
          Everything installed!
        </p>
        <p class="m-b-md">
          <span class="text-muted">&gt; $ npm start</span><br>
          Server started http://localhost:9001<br>
          LiveReload started<br>
          Opening http://localhost:9001/docs/
        </p>
        <p>
          <span class="text-muted">&gt; $ is that it?</span><br>
          Yup, it's that simple.
        </p>
      </div>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
      <h3><strong>Documentation and tooling</strong></h3>
      <h4 class="m-b-md">Every component and plugin is thoroughly documented with live examples and code blocks for easier use and customization—just like Bootstrap itself. Not comfortable diving that deep? No worries, you can get started by double clicking index.html!</h4>
      <a class="btn btn-primary" target="_blank" href="https://bootstrap-themes.github.io/dashboard/docs/">Explore the Dashboard docs</a>
    </div>
  </div>
