    <div class="panel panel-default" style="background-color: #00B599; color: white;">
      <div class="panel-body text-center">
        <div class="panel-content">
          <h1 class="m-t-sm col-md-12">Create an account today</h1>
          <h5 class="m-b-sm col-md-12 ">Join drie today to benefit from secure and fast deployment</h5>
        </div>
        <div class="m-b-sm m-t-sm panel-actions">
          <a class="btn btn-lg" style="background-color: #49305b; border-color:#49305b; color: white" href="/pricing.html">Sign up</a>
        </div>
      </div>
    </div>
