    <div class="panel panel-default" style="background-color: #00B599; color: white;">
      <div class="panel-body">
        <div class="panel-content col-md-offset-3">
          <h1 class="m-b-0 m-t-0 col-md-6">Create an account today</h1>
          <h5 class="m-b-0 m-t-0 col-md-6">Join drie today to benefit from secure and fast deployment</h5>
        </div>
        <div class="panel-actions">
          <a class="btn btn-lg" style="background-color: #49305b; border-color:#49305b; color: white" href="/pricing.html">Sign up</a>
        </div>
      </div>
    </div>
