<div class="section bg-clear" style="display: none;>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">Teams on drie
                                <br>
                            </h1>
                            <p class="text-center"></p>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="./assets/media/i5phyi5o.png" alt="" class="img-responsive">
                                
                            </div>
                            <div class="col-md-4">
                                <img src="./assets/media/i5phyi5o.png" alt="" class="img-responsive">
                               
                            </div>
                            <div class="col-md-4">
                                <img src="./assets/media/i5phyi5o.png" alt="" class="img-responsive">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>