<div class="section">
                <div class="container">
                	<div class="row">
                    	<div class="col-md-12">
                            <h1 class="text-center" style="background-color: #00B599; color: white; padding: 10px;">Transparent pricing
                            </h1>
                            <p class="text-center">
                                </p>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <img src="" class="img-responsive">
                           <h1 class="medium-size-text text-center bg-clear" >Start with as little as £40/month. Only pay for what you use. <br><br>
                               <a class="btn btn-success" style="background-color: #00B599 ; border-color:#00B599;" href="./pricing.html">See all price plans</a></h1>
                        </div>
                    </div>
                </div>
            </div>
