

<div class="container">
    <div class="row">
     <h2>Try deploying your apps for free</h2>
    <ul class="ds-btn">
     <li>
             <a class="btn btn-success" style="background-color: #00B599 ; border-color:#00B599; color:white;"  href="http://docs.drie.co/docs/deploy-a-ruby-app-on-drie-1">
          <i class="glyphicon glyphicon-tasks pull-left" ></i><span>Ruby app<br><small></small></span></a> 
            
        </li>
        <li>
             <a class="btn btn-success" style="background-color: #00B599 ; border-color:#00B599; color:white;"  href="http://docs.drie.co/docs/deploy-a-php-app-on-drie">
          <i class="glyphicon glyphicon-tasks pull-left"></i><span>PHP app<br><small></small></span></a> 
            
        </li>
        <li>
             <a class="btn btn-success" style="background-color: #00B599 ; border-color:#00B599; color:white;"  href="http://docs.drie.co/docs/deploy-a-nodejs-express-4-app-on-drie">
         <i class="glyphicon glyphicon-tasks pull-left"></i><span>Node app<br><small></small></span></a> 
            
        </li>
        <li>
             <a class="btn btn-success" style="background-color: #00B599 ; border-color:#00B599; color:white;"  href="http://docs.drie.co/docs/deploy-a-java-spark-microframework-app-on-drie">
         <i class="glyphicon glyphicon-tasks pull-left"></i><span>Java app<br><small></small></span></a> 
            
        </li>
        <li>
               <a class="btn btn-success" style="background-color: #00B599 ; border-color:#00B599; color:white;"  href="http://docs.drie.co/docs/deploy-a-google-go-golang-rest-api-server-on-drie">
        <i class="glyphicon glyphicon-tasks pull-left"></i><span>Go app<br><small></small></span></a> 
        </li>

    </ul>
    
    </div>
</div>