<div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 bg-clear">
                            <h1>Try deploying your apps for free</h1>
                            <div id="header"></div>
                            <h3>Security first development with AWS security best practices&nbsp;</h3>                      
                        </div>
                        <br>
                        <div class="col-md-6 bg-clear">
                           <p><a target="_blank" class="btn btn-success" style="background-color: #00B599; border-color:#00B599;" href="http://docs.drie.co/docs/deploy-a-ruby-app-on-drie-1">Deploy a Ruby app on drie</a></p>
                            <p><a target="_blank" class="btn btn-success" style="background-color: #00B599; border-color:#00B599;" href="http://docs.drie.co/docs/deploy-a-ruby-app-on-drie-1">Deploy a PHP app on drie</a></p>
                            <p><a target="_blank" class="btn btn-success" style="background-color: #00B599; border-color:#00B599;" href="http://docs.drie.co/docs/deploy-a-nodejs-express-4-app-on-drie">Deploy a Node app on drie</a></p>
                            <p><a target="_blank" class="btn btn-success" style="background-color: #00B599; border-color:#00B599;" href="http://docs.drie.co/docs/deploy-a-java-spark-microframework-app-on-drie">Deploy a Java app on drie</a></p>
                            <p><a target="_blank" class="btn btn-success" style="background-color: #00B599; border-color:#00B599;" href="http://docs.drie.co/docs/deploy-a-google-go-golang-rest-api-server-on-drie">Deploy a Go app on drie</a></p>
                        </div>
                    </div>
                </div>
</div>