<div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" align="center">
                        <h2 class="text-center">When you type <code>drie app create</code> we provide the AWS glue</h2>
                        <p class="text-center">We combine Amazon's <a href="https://aws.amazon.com/ec2/details/">EC2</a>, <a href="https://aws.amazon.com/iam/details/">Identity and Access Management (IAM)</a>, <a href="https://aws.amazon.com/kms/details/">Key Management (KMS)</a>, <a href="https://aws.amazon.com/rds/aurora/details/">Databases (RDS)</a>, <a href="https://aws.amazon.com/certificate-manager/">Certificates</a>, <a href="https://aws.amazon.com/elasticloadbalancing/">Load Balancing (ELB)</a> and more to give you a secure envrionment to run your application in.</p>
                            <a href="#"><img src="./drie_architecture.png" alt="" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
            </div>
