<div class="row homepage-grid p-t text-center" style="height: 460px;">
    <div class="page-header">
        <h1 class="text-center singlewordcolor">Who is using the drie security platform?</h1>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <%= link_to image_tag("object_editing.png", alt: 'drie.co', class: 'homepage-grid-icon'), root_path %>
        <h5 class="singlewordcolor">Small &amp; medium businesses</h5>
        <p class="text-muted">Reducing organisational costs and flexibility are paramount. Not caring about security is not an option. We give you a powerful tool that combines all three elements. You’ll experience significant cost savings in many areas of
            your IT organisation like software maintenance and support. With drie you can scale from 0-100 in under a minute based on customer demands and business needs. Using AWS security best practices will give you a measure of piece of mind in an era of
            compromised cyber-security.
        </div>

        <div class="col-sm-5" style="padding-bottom: 50px">
            <%= link_to image_tag("3d_modeling.png", alt: 'drie.co', class: 'homepage-grid-icon'), root_path %>
            <h5 class="singlewordcolor">Enterprises</h5>
            <p class="text-muted">Owning and maintaining a data center has resource and security requirements that are becoming increasingly complex to meet. Time to carefully evaluate options for moving infrastructure and platforms however is scarce, leading to
                delays and lost progress on improving IT efficiency. Adopting drie will allow you to benefit from large resource pools in distributed data center environments that are run for you, leaving that operational overhead to us. Integrated AWS security best
                practices to make sure that your data, at all times, is safe.
            </div>
            <div class="col-sm-1"></div>
        </div>
