
<div class="container">
    <div class="page-header">
        <h1>Who uses the drie secure platform?</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
        
<div class="panel panel-success">
  <div class="panel-leftheading">
      <h3 class="panel-lefttitle">Small &amp; medium businesses</h3>
  </div>
  <div class="panel-rightbody">
      <p>Reducing organisational costs and flexibility are paramount. Not caring about security is not an option. We give you a powerful tool that combines all three elements.
You’ll experience significant cost savings in many areas of your IT organisation like software maintenance and support. With drie you can scale from 0-100 in under a minute based on customer demands and business needs. Using AWS security best practices will give you a measure of piece of mind in an era of compromised cyber-security.</p>
<br><br>
    
  </div>
    <div class="clearfix">
    </div>
</div>
    </div>

    <div class="col-md-6">

<div class="panel panel-success">  
<div class="panel-leftheading">
      <h3 class="panel-lefttitle">Enterprises</h3>
  </div>
  <div class="panel-rightbody"> 
      <p>Owning and maintaining a data center has resource and security requirements that are becoming increasingly complex to meet. Time to carefully evaluate options for moving infrastructure and platforms however is scarce, leading to delays and lost progress on improving IT efficiency. Adopting drie will allow you to benefit from large resource pools in distributed data center environments that are run for you, leaving that operational overhead to us. Integrated AWS security best practices to make sure that your data, at all times, is safe.</p>
      <br><br>
      
  </div>
    <div class="clearfix">
    </div>   
    </div>



    </div>
</div>
</div>
