<%= render "shared/header" %>
<%= render "shared/menu" %>
      <body>
        <div id="wrap">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 bg-clear">
                        <h1>Thank you for giving drie a go!</h1>

                        <h5>We will be in touch in the next few days to give you your access to the drie platform</h5>

                    </div>
                    <br>
                    <div class="col-md-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/l1eU0F4AX-8" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

           <%= render "shared/footer" %>
    </div>
    <%= render "hubspot" %>
    </body>
</html>
