<!DOCTYPE html>
<html>
    <head>
        <title>Starter Kit</title>
        <link rel="stylesheet" href="./styles.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- This snippet is used to setup Simpla on your site -->
        <script src="https://app.simpla.io"></script>
        <script>
            // Replace 'PROJECT-KEY' with your API key You can get your project's API key from https://simpla.io
            Simpla('rJ-stj0a');
        </script>

        <style>
        .circular--square {
  border-radius: 50%;
}</style>

    </head>
    <body>

        <%= render "shared/menu" %>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">

                        <!-- Every Simpla element needs a unique ID, which we provide in
           an sid (Simpla ID) attribute on the element.   -->
                        <h1 class="splash__subtitle">
                            <simpla-text sid="splash-subtitle3"></simpla-text>
                        </h1>

                        <h2 class="splash__subtitle">
                            <simpla-text sid="splash-subtitle4"></simpla-text>
                        </h2>

<a href="./drie_push_designer.html">
<simpla-img class="circular--square" sid="img"></simpla-img>
</a>

<div>
<a style="color:#00B599;" href="./drie_push.html">drie_push</a>

</div>
<div>

</div>

<div>

</div>

                    </div>
                </div>
            </div>
        </section>

        <%= render "shared/footer" %>
    </div>
    <%= render "hubspot" %>
</body>
</html>
