

<%= render "shared/header" %>
<%= render "shared/menu" %>
  <body>
    <div id="wrap">
        <br><br>
        

<div class="container">

<div class="col-md-12 text-center">
   <h1>INSIGHTS</h1>
</div>

</div>

<div class="container">
    <div class="row text-center">
 

    
        
    <! Button start from here ->    
    
        <button type="button" class="btn btn-default btn-sm outline">drie Blog</button>
        <button type="button" class="btn btn-default btn-sm outline">drie in the press</button>
        <button type="button" class="btn btn-default btn-sm outline">drie events</button>
        
        
     <! Button end here ->   
        
    <br><br><br>
    
    </div>

    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
                    <h3> BLOG </h3>
                    <ul>
                        <li> <a href="http://www.drie.co">  </a> </li>
                
                    </ul>
    </div>

    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
                    <h3> PRESS </h3>
                    <ul>
                        <li> <a href="drie_joins_cyber_londons_cyber_security_accelerator.html"> drie joins Cyber London’s cyber security accelerator </a> </li>
                        
                    </ul>
    </div>

    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
                    <h3> EVENTS </h3>
                    <ul>
                        <li> <a href="http://www.drie.co"> </a> </li>
     
                    </ul>
    </div>

    
</div>


<%= render "shared/footer" %>

    </div>
    
    <%= render "hubspot" %>

    </body>

</html>