

<%= render "shared/header" %>
<%= render "shared/menu" %>
  <body>
    <div id="wrap">
        <br><br>
        

<div class="container">

<div class="col-md-12 text-center">
   <h1>INSIGHTS</h1>
</div>

</div>

<div class="container">
    <div class="row text-center">
 
    <! Button start from here ->    
    
        <button type="button" class="btn btn-default btn-sm outline">drie Blog</button>
        <button type="button" class="btn btn-default btn-sm outline">drie in the press</button>
        <button type="button" class="btn btn-default btn-sm outline">drie events</button>
               
     <! Button end here ->   
        
    <br><br><br>
    
    </div>

    <div class="container">
    <h3> BLOG </h3>

<ul class="list-unstyled activity-stream-list">
<li class="press-release" itemscope="" itemtype="http://schema.org/Article">
  <i class="fa fa-file-text-o fa-lg"></i>
  <a itemprop="headline" target="_blank" href="#">
  Archery Tournament for Beginners Jan. 2 at E.P. ‘Tom’ State Park</a>
    <p><cite itemprop="publisher" class="publishedAgency">CHFS</cite> - <span class="publishedDate" itemprop="datePublished">Jan 17, 2012</span></p>
 <p class="summary" itemprop="about">Beginner archers have an opportunity to test their skills at The Snowflake Shoot</p>
  
</li>
 
</ul>


</div>

<div class="container">
<h3> PRESS </h3>
<ul class="list-unstyled activity-stream-list">
<li class="press-release" itemscope="" itemtype="http://schema.org/Article">
  <i class="fa fa-file-text-o fa-lg"></i>
  <a itemprop="headline" target="_blank" href="drie_joins_cyber_londons_cyber_security_accelerator.html">
  drie joins Cyber London’s cyber security accelerator</a>
    <p><cite itemprop="publisher" class="publishedAgency">CHFS</cite> - <span class="publishedDate" itemprop="datePublished">Jan 17, 2012</span></p>
 <p class="summary" itemprop="about">Beginner archers have an opportunity to test their skills at The Snowflake Shoot</p>
  

</ul>


</div>

<div class="container">
<h3> EVENTS </h3>
<ul class="list-unstyled activity-stream-list">
  <li class="event" itemscope="" itemtype="http://schema.org/Event">
  <i class="fa fa-calendar fa-lg"></i>
  <a itemprop="name" target="_blank" href="#">
  drie joins Cyber London’s cyber security accelerator</a>
    <p><cite itemprop="organizer" class="publishedAgency">CHFS</cite> - <span class="publishedDate" itemprop="startDate">Jan 17, 2012</span></p>
 <p class="summary" itemprop="description">Beginner archers have an opportunity to test their skills at The Snowflake Shoot</p>
  
</li>
</ul>

</div>
</div>


<%= render "shared/footer" %>

    </div>
    
    <%= render "hubspot" %>

    </body>

</html>