<%= render "shared/header" %>
<%= render "shared/menu" %>
  <body>
    <div id="wrap">
        <div class="section" style="padding: 0px 0;">
            <div class="container">
                <div class="section" style="padding: 0px 0;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="text-center">We'd love to talk to you about how you can use drie</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://static1.squarespace.com/static/56b1341cc6fc088ccfe0b0d7/t/56bee707d51cd4587e5c8b0f/1455353941530/?format=300w" alt="KALBIR SOHI" class="center-block img-circle img-responsive">
                        <h3 class="text-center">KALBIR SOHI</h3>
                        <p class="text-center">STRATEGY &amp; PRODUCT</p>
                        <p class="text-center">Kalbir has spent the last 3 years leading teams building platform as a service and cloud brokering services for a large UK government department. Before that he was a strategy lead on an £80m digital transformation.</p>
                        <h4><a href="https://twitter.com/proustian"><i class="fa fa-3x fa-fw fa-twitter text-inverse" style="color: #00B599;"></i></a>
                            <a href="https://www.linkedin.com/in/kalbir"><i class="fa fa-3x fa-fw fa-linkedin text-inverse" style="color: #00B599;"></i></a></h4>
                    </div>
                    <div class="col-md-4">
                        <img src="http://static1.squarespace.com/static/56b1341cc6fc088ccfe0b0d7/t/56bee794c2ea511b98f7d61a/1455351709396/?format=300w" alt="ULRIKE EDER" class="center-block img-circle img-responsive">
                        <h3 class="text-center">ULRIKE EDER</h3>
                        <p class="text-center">SALES &amp; MARKETING</p>
                        <p class="text-center">Ulrike has has over 11 years of B2B marketing experience, mainly in technology and across both products &amp; services. The breadth of Ulrike’s experience spans markets worldwide like the UK, Germany, India, USA, China, Singapore and Australia.</p>
                        <h4><a href="https://twitter.com/ulrike_eder"><i class="fa fa-3x fa-fw fa-twitter text-inverse" style="color: #00B599;"></i></a>
                            <a href="https://uk.linkedin.com/in/ulrikeeder"><i class="fa fa-3x fa-fw fa-linkedin text-inverse" style="color: #00B599;"></i></a></h4>
                    </div>
                    <div class="col-md-4">
                        <img src="http://static1.squarespace.com/static/56b1341cc6fc088ccfe0b0d7/t/56bef0f5c2ea511b98f7eb48/1455354105621/?format=300w" alt="TOM VAN NEERIJNEN" class="center-block img-circle img-responsive">
                        <h3 class="text-center">TOM VAN NEERIJNEN</h3>
                        <p class="text-center">TECHNOLOGY</p>
                        <p class="text-center">Tom has spent over 12 Years as an infrastructure engineer, including building two bespoke platform as a service systems, one for government and one for a major online games company.</p>
                        <h4><a href="https://twitter.com/drie_co"><i class="fa fa-3x fa-fw fa-twitter text-inverse" style="color: #00B599;"></i></a>
                            <a href="https://www.linkedin.com/in/tommyvn"><i class="fa fa-3x fa-fw fa-linkedin text-inverse" style="color: #00B599;"></i></a></h4>

                    </div>
                </div>
            </div>
        </div>
        <br><br>
              <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>INFRASTRUCTURE SECURITY IS OUR PASSION</h1><br><br>
                        <p>The drie team has over 20 years of experience building infrastructure platforms. Before starting drie, the core team developed platform as a service for a UK government department.</p>
                        <p>That's when we realised that we could build a platform that met the security needs of large organisations whilst at the same time being easy to use and cost effective. We've taken what we learned from building reliable, highly available and accredited infrastructures across the energy, gaming, government and biotech sectors and brought that to drie, to make it easy for anyone to run their software securely in the cloud.</p>
                        <p>drie is a platform as a service for people who care about security. We've made a simple and cost effective way for you to deploy, run and scale software in the cloud. Spend less time securing your underlying infrastructure and more time building great products for your users.</p>
                        <br>
                    </div>
                </div>
            </div>
            </div>
        <%= render "shared/footer" %>
    </div>
    
    <%= render "hubspot" %>

    </body>

</html>