<%= render "shared/header" %>
<%= render "shared/menu" %>
  <body>
    <div id="wrap">
        <br><br>
              <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>OUR CUSTOMERS</h1>

                        <p></p>

                        <br>
                    </div>
                </div>
            </div>
            </div>
        <%= render "shared/footer" %>
    </div>
    <%= render "shared/hubspot" %>
    </body>
</html>