<%= render "shared/header" %>
<%= render "shared/menu" %>
<body>
    <div id="wrap">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Pay-as-you go pricing without surprises</h1>
                    <h3>Choose a plan that suits your business</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr style="background-color: #00B599; border-color:#00B599; color: white">
                                <th>
                                    <h3 class="text-center">Type</h3>
                                </th>
                                <th>
                                    <h3 class="text-center">Specification</h3>
                                </th>
                                <th>
                                    <h3 class="text-center">Price</h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="text-center">t2.micro AWS instance</p>
                                </td>
                                <td>
                                    <p class="text-center">VM 1vCPU, 1GB RAM, 8GB SSD disk</p>
                                </td>
                                <td>
                                    <p class="text-center">£0.055 per hour</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="text-center">m3.medium AWS instance</p>
                                </td>
                                <td>
                                    <p class="text-center">VM 1vCPU, 3.75GB RAM, 8GB SSD disk</p>
                                </td>
                                <td>
                                    <p class="text-center">£0.200 per hour</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="text-center">m4.large AWS instance</p>
                                </td>
                                <td>
                                    <p class="text-center">VM 2vCPU, 8GB RAM, 8GB SSD disk</p>
                                </td>
                                <td>
                                    <p class="text-center">£0.372 per hour</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p></p>
                    <p></p>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr style="background-color: #00B599; border-color:#00B599; color: white">
                                <th>
                                    <h3 class="text-center" contenteditable="true">Every price plan includes</h3>
                                </th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th>
                                    <h4 class="text-center">Base Platform</h4>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="text-center">✔ Internet bandwidth
                                        <br>✔ Regular automatic OS patching
                                        <br>✔ VM level isolation between apps
                                        <br>✔ Encryption of config and code using customer controlled keys
                                        <br>✔ HTTPS by default
                                        <br>✔ Trivial app updates and roll back
                                        <br>✔ Simple API integration with existing CI/CD solutions
                                        <br>✔ Integrate with your current source control
                                        <br>✔ Lock down communications between apps
                                        <br>✔ Secure connectivity to other AWS infrastructure
                                        <br>✔ Ticketed support</p>
                                    <p></p>
                                </td>
                            </tr>
                            <tr></tr>

                        </tbody>
                    </table>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>


    <hr size="">
    <div class="section">
        <div class="container">
            <div class="row">
                <div style="text-align: center;">
                    <h1>Try free for 14 days</h1>
                    <h3>No credit card required. Cancel at any time.</h3>
                </div>
                <div style="width:50%; margin: 0 auto;">
                    <br>
                    <form name="insightly_web_to_lead" action="https://e6ly17bw.insight.ly/WebToLead/Create" method="post">
                        <div class="form-group firstname">
                            <input type="hidden" name="formId" value="gxFZ7XAWiGuO2AwnXDHFoQ==">
                            <label for="insightly_firstName">First Name:</label>
                            <input class="form-control" id="insightly_firstName" placeholder="Enter First Name" name="FirstName" type="text">
                        </div>
                        <div class="form-group lastname">
                            <label for="insightly_lastName">Last Name:</label>
                            <input class="form-control" id="insightly_lastName" placeholder="Enter Last Name" name="LastName" type="text">
                        </div>
                        <div class="form-group email">
                            <label for="email">Email:</label>
                            <input class="form-control" id="insightly_Email" placeholder="Enter Email" name="email" type="text">
                        </div>
                        <input type="hidden" id="insightly_ResponsibleUser" name="ResponsibleUser" value="1175044">
                        <input type="hidden" id="insightly_LeadSource" name="LeadSource" value="1206815">

                        <div class="text-center">
                        <input class="btn btn-success" style="background-color: #00B599 ; border-color:#00B599;" type="submit" value="Start a free trial">
                        </div>
                    </form>
                    <div class="text-center">
                    <p style="font-size: 8px">By signing up, you agree to the
                        <a href="http://docs.drie.co/docs/terms-of-service">Terms of Service</a>
                    </p>
                    </div>
                </div>
            </div>
            <hr size="">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Pricing and Billing FAQ</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column column-first">
                <h4>
                        <b>How long are your contracts?</b>
                    </h4>
                <p>drie plans are paid monthly. For us it’s important that you can start - and stop - using drie at any time.</p>
                <br>
                <h4>
                        <b>Is there a discount for yearly contract?</b>
                    </h4>
                <p>Yes, we offer discounts on up-front long-term commitments. Please get in touch to discuss this further.</p>
                <br>
                <h4>
                        <b>How do I sign up?</h4>
                            <!--</b-->
                            <p>You start with a free trial. We don't collect your credit card until you've
                            determined that drie is the right product for you.</p>
                        </b>
                    <br>
                    <h4>
                            <b>How am I billed for using drie?</b>
                        </h4>
                <p>You will only pay for what you use. drie will bill your application instances per hour, rounded up. </p>
                <br>
                <b>
                        <h4>
                            <b>How do I cancel service?</b>
                </h4>
                <p>Canceling drie is straightforward an easy. It's done online right from your site manager.</p>
                <br>
                <h4>
                            <b>Can I switch plans?</b>
                        </h4>
                <p>Yes, at any time, just give us a call or drop us an email and we’ll get that done for you.</p>
                <br>
                <h3>Have more questions?</h3>
                <p>Our support team is available 24/7 and usually responds in well under an hour. Drop us a note to
                    <a href="mailto:hello@drie.co" style="color: #00B599; font-weight: bold;" target="_blank"> hello@drie.co</a> to contact us.</p>
                </b>
            </div>
            <b>

                </b>
        </div>

        <%= render "shared/footer" %>
    </div>
    
    <%= render "hubspot" %>

    </body>

</html>
