<%= render "shared/header" %>
<%= render "shared/menu" %>
<body>
    <div id="wrap">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Pay-as-you go pricing without surprises</h1>
                    <h3>Choose a plan that suits your business</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
    <div class="container">
    
   <div class="row ">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="db-wrapper">
                    <div class="db-pricing-seven">
                        <ul>
                            <li class="price">
                                <i class="glyphicon glyphicon-qrcode"></i>
                                t2.micro AWS instance
                            </li>

                            <li>VM 1vCPU, 1GB RAM, 8GB SSD disk</li>
                            <li>£0.055 per hour</li>
                   
                     
                        </ul>
                        <div class="pricing-footer">

                            <a href="#" class="btn btn-default btn-lg">BUY <i class="glyphicon glyphicon-play-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="db-wrapper">
                    <div class="db-pricing-seven">
                        <ul>
                            <li class="price">
                                <i class="glyphicon glyphicon-indent-right"></i>
                               m3.medium AWS instance
                            </li>

                            <li>VM 1vCPU, 3.75GB RAM, 8GB SSD disk</li>
                            <li>£0.200 per hour</li>
                    
                        </ul>
                        <div class="pricing-footer">

                            <a href="#" class="btn btn-default btn-lg">BUY<i class="glyphicon glyphicon-play-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="db-wrapper">
                    <div class="db-pricing-seven">
                        <ul>
                            <li class="price">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                m4.large AWS instance
                            </li>

                            <li>VM 2vCPU, 8GB RAM, 8GB SSD disk</li>
                            <li>£0.372 per hour</li>
                        </ul>
                        <div class="pricing-footer">

                            <a href="#" class="btn btn-default btn-lg">BUY <i class="glyphicon glyphicon-play-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="db-wrapper">
                    <div class="db-pricing-seven">
                        <ul>
                            <li class="price">
                                <i class="glyphicon glyphicon-align-justify"></i>
                                Every price plan includes
                            </li>

                            <li>Base Platform</li>
                            <li>✔ Internet bandwidth </li>
                            <li>✔ Regular automatic OS patching </li>
                            <li>✔ VM level isolation between apps </li>
                            <li>✔ Encryption of config and code using customer controlled keys </li>
                            <li>✔ HTTPS by default </li>
                            <li>✔ Trivial app updates and roll back</li>
                            <li>✔ Simple API integration with existing CI/CD solutions</li>
                            <li>✔ Integrate with your current source control</li>
                            <li>✔ Lock down communications between apps /li>
                            <li>✔ Secure connectivity to other AWS infrastructure </li>
                            <li>✔ Ticketed support</li>
                        </ul>
                        <div class="pricing-footer">

                            <a href="#" class="btn btn-default btn-lg">BUY <i class="glyphicon glyphicon-play-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


    <hr size="">
    <div class="section">
        <div class="container">
            <div class="row">
                <div style="text-align: center;">
                    <h1>Try free for 14 days</h1>
                    <h3>No credit card required. Cancel at any time.</h3>
                </div>
                <div style="width:50%; margin: 0 auto;">
                    <br>
                    <form name="insightly_web_to_lead" action="https://e6ly17bw.insight.ly/WebToLead/Create" method="post">
                        <div class="form-group firstname">
                            <input type="hidden" name="formId" value="gxFZ7XAWiGuO2AwnXDHFoQ==">
                            <label for="insightly_firstName">First Name:</label>
                            <input class="form-control" id="insightly_firstName" placeholder="Enter First Name" name="FirstName" type="text">
                        </div>
                        <div class="form-group lastname">
                            <label for="insightly_lastName">Last Name:</label>
                            <input class="form-control" id="insightly_lastName" placeholder="Enter Last Name" name="LastName" type="text">
                        </div>
                        <div class="form-group email">
                            <label for="email">Email:</label>
                            <input class="form-control" id="insightly_Email" placeholder="Enter Email" name="email" type="text">
                        </div>
                        <input type="hidden" id="insightly_ResponsibleUser" name="ResponsibleUser" value="1175044">
                        <input type="hidden" id="insightly_LeadSource" name="LeadSource" value="1206815">

                        <div class="text-center">
                        <input class="btn btn-success" style="background-color: #00B599 ; border-color:#00B599;" type="submit" value="Start a free trial">
                        </div>
                    </form>
                    <div class="text-center">
                    <p style="font-size: 8px">By signing up, you agree to the
                        <a href="http://docs.drie.co/docs/terms-of-service">Terms of Service</a>
                    </p>
                    </div>
                </div>
            </div>
            <hr size="">
            <div class="section">

            <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Pricing and Billing FAQ</h1>
                        </div>
                    </div>
                </div>

            <div class="container ">
    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                 <h4 class="panel-title">
                    <a href="#" class="ing">How long are your contracts?
</a>
              </h4>

            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>drie plans are paid monthly. For us it’s important that you can start - and stop - using drie at any time.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Is there a discount for yearly contract?</a>
              </h4>

            </div>
            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>Yes, we offer discounts on up-front long-term commitments. Please get in touch to discuss this further.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                 <h4 class="panel-title">
                    <a href="#" class="ing">How do I sign up?</a>
              </h4>

            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>You start with a free trial. We don't collect your credit card until you've determined that drie is the right product for you.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                 <h4 class="panel-title">
                    <a href="#" class="ing">How am I billed for using drie?</a>
              </h4>

            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>You will only pay for what you use. drie will bill your application instances per hour, rounded up.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                 <h4 class="panel-title">
                    <a href="#" class="ing">How do I cancel service?</a>
              </h4>

            </div>
            <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>Canceling drie is straightforward an easy. It's done online right from your site manager.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Can I switch plans?"</a>
              </h4>

            </div>
            <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>Yes, at any time, just give us a call or drop us an email and we’ll get that done for you.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Have more questions?"</a>
              </h4>

            </div>
            <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>Our support team is available 24/7 and usually responds in well under an hour. Drop us a note to
                    <a href="mailto:hello@drie.co" style="color: #00B599; font-weight: bold;" target="_blank"> hello@drie.co</a> to contact us.</p>
                </div>
            </div>
        </div>
        
    </div>
    <!--/panel-group-->
</div>
            </div>

        </div>

        <%= render "shared/footer" %>
    </div>
    
    <%= render "hubspot" %>

    </body>

</html>
