<%= render "shared/header" %>
<%= render "shared/menu" %>
<body>
    <div id="wrap">
    <div class="section">

<div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <br />
                <h2>Pay-as-you go pricing without surprises</h2>
             <h5>Choose a plan that suits your business</h5>
                <br /><br />
            </div>
        </div>      
        <div class="row">
            <div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <div class="db-wrapper">
                    <div class="db-pricing-nine">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="db-bk-color-one">T2.MICRO AWS INSTANCE</th>
                                        <th class="db-bk-color-two">M3.MEDIUM AWS INSTANCE</th>
                                        <th class="db-bk-color-three">M4.LARGE AWS INSTANCE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="db-width-perticular">CPU</td>
                                        <td>VM 1VCPU, 1GB RAM, 8GB SSD DISK</td>
                                        <td>VM 1VCPU, 3.75GB RAM, 8GB SSD DISK</td>
                                        <td>VM 2VCPU, 8GB RAM, 8GB SSD DISK</td>
                                    </tr>
                                    <tr>
                                        <td class="db-width-perticular">PER HOUR</td>
                                        <td>£0.055</td>
                                        <td>£0.200</td>
                                        <td>£0.372</td>
                                    </tr>
                                    <tr>
                                        <td class="db-width-perticular">INTERNET BANDWIDTH</td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="db-width-perticular">REGULAR AUTOMATIC OS PATCHING</td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="db-width-perticular">VM LEVEL ISOLATION BETWEEN APPS</td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="db-width-perticular">ENCRYPTION OF CONFIG AND CODE USING CUSTOMER CONTROLLED KEYS</td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="db-width-perticular">HTTPS BY DEFAULT</td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="db-width-perticular">TRIVIAL APP UPDATES AND ROLL BACK</td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="db-width-perticular">SIMPLE API INTEGRATION WITH EXISTING CI/CD SOLUTIONS</td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="db-width-perticular">INTEGRATE WITH YOUR CURRENT SOURCE CONTROL</td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="db-width-perticular">LOCK DOWN COMMUNICATIONS BETWEEN APPS</td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="db-width-perticular">SECURE CONNECTIVITY TO OTHER AWS INFRASTRUCTURE</td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="db-width-perticular">TICKETED SUPPORT</td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                        <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="db-width-perticular"></td>
                                        <td><a href="#" class="btn db-button-color-two">BUY PLAN</a> </td>
                                        <td><a href="#" class="btn db-button-color-two">BUY PLAN</a> </td>
                                        <td><a href="#" class="btn db-button-color-two">BUY PLAN</a> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- CONATINER END -->


       
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div style="text-align: center;">
                    <h1>Try free for 14 days</h1>
                    <h3>No credit card required. Cancel at any time.</h3>
                </div>
                <div style="width:50%; margin: 0 auto;">
                    <br>
                    <form name="insightly_web_to_lead" action="https://e6ly17bw.insight.ly/WebToLead/Create" method="post">
                        <div class="form-group firstname">
                            <input type="hidden" name="formId" value="gxFZ7XAWiGuO2AwnXDHFoQ==">
                            <label for="insightly_firstName">First Name:</label>
                            <input class="form-control" id="insightly_firstName" placeholder="Enter First Name" name="FirstName" type="text">
                        </div>
                        <div class="form-group lastname">
                            <label for="insightly_lastName">Last Name:</label>
                            <input class="form-control" id="insightly_lastName" placeholder="Enter Last Name" name="LastName" type="text">
                        </div>
                        <div class="form-group email">
                            <label for="email">Email:</label>
                            <input class="form-control" id="insightly_Email" placeholder="Enter Email" name="email" type="text">
                        </div>
                        <input type="hidden" id="insightly_ResponsibleUser" name="ResponsibleUser" value="1175044">
                        <input type="hidden" id="insightly_LeadSource" name="LeadSource" value="1206815">

                        <div class="text-center">
                        <input class="btn btn-success" style="background-color: #00B599 ; border-color:#00B599;" type="submit" value="Start a free trial">
                        </div>
                    </form>
                    <div class="text-center">
                    <p style="font-size: 8px">By signing up, you agree to the
                        <a href="http://docs.drie.co/docs/terms-of-service">Terms of Service</a>
                    </p>
                    </div>
                </div>
            </div>
            <hr size="">
            <div class="section">

            <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Pricing and Billing FAQ</h1>
                        </div>
                    </div>
                </div>

            <div class="container ">
    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                 <h4 class="panel-title">
                    How long are your contracts?

              </h4>

            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>drie plans are paid monthly. For us it’s important that you can start - and stop - using drie at any time.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                 <h4 class="panel-title">
                   Is there a discount for yearly contract?
              </h4>

            </div>
            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>Yes, we offer discounts on up-front long-term commitments. Please get in touch to discuss this further.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                 <h4 class="panel-title">
                  How do I sign up?
              </h4>

            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>You start with a free trial. We don't collect your credit card until you've determined that drie is the right product for you.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                 <h4 class="panel-title">
                   How am I billed for using drie?
              </h4>

            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>You will only pay for what you use. drie will bill your application instances per hour, rounded up.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                 <h4 class="panel-title">
                  How do I cancel service?
              </h4>

            </div>
            <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>Canceling drie is straightforward an easy. It's done online right from your site manager.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                 <h4 class="panel-title">
                  Can I switch plans?
              </h4>

            </div>
            <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>Yes, at any time, just give us a call or drop us an email and we’ll get that done for you.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                 <h4 class="panel-title">
                    Have more questions?
              </h4>

            </div>
            <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>Our support team is available 24/7 and usually responds in well under an hour. Drop us a note to
                    <a href="mailto:hello@drie.co" style="color: #00B599; font-weight: bold;" target="_blank"> hello@drie.co</a> to contact us.</p>
                </div>
            </div>
        </div>
        
    </div>
    <!--/panel-group-->
</div>
            </div>

        </div>

        <%= render "shared/footer" %>
    </div>
    
    <%= render "shared/hubspot" %>

    </body>

</html>
