

<%= render "shared/header" %>
<%= render "shared/menu" %>
  <body>
    <div id="wrap">
        <br><br>
        

<div class="container">

<div class="col-md-12 text-center">
   <h1>INSIGHTS</h1>
</div>

</div>

<div class="container">
    <div class="row text-center">
 
    <! Button start from here ->    
    
        <button type="button" class="btn btn-default btn-sm outline">drie Blog</button>
        <button type="button" class="btn btn-default btn-sm outline">drie in the press</button>
        <button type="button" class="btn btn-default btn-sm outline">drie events</button>
               
     <! Button end here ->   
        
    <br><br><br>
    
    </div>

    <div class="container">
    <h3> BLOG </h3>

<ul class="list-unstyled activity-stream-list">
<li class="blog" itemscope="" itemtype="http://schema.org/Article">
 
    <a itemprop="headline" target="_blank" href="https://medium.com/drie-co/5-articles-that-shaped-my-thinking-about-platform-as-a-service-88480dab4ed5#.b1ck82oyq">
  5 Articles That Shaped My Thinking About Platform As A Service</a>
    <cite itemprop="publisher" class="publishedAgency">- March 20, 2016</cite><span class="publishedDate" itemprop="datePublished"></span>
  
</li>

<li class="blog" itemscope="" itemtype="http://schema.org/Article">
 
    <a itemprop="headline" target="_blank" href="https://medium.com/drie-co/shortcuts-and-deadlines-19d9cc27ad38#.bjzomuc68">
  Shortcuts And Deadlines</a>
    <cite itemprop="publisher" class="publishedAgency">- Sep 12,2016</cite><span class="publishedDate" itemprop="datePublished"></span>
  
</li>

<li class="blog" itemscope="" itemtype="http://schema.org/Article">
 
    <a itemprop="headline" target="_blank" href="https://medium.com/drie-co/how-drie-works-ef927241d93e#.lp0j6y1op">
  How Drie Works</a>
    <cite itemprop="publisher" class="publishedAgency">- Jul 27,2016</cite><span class="publishedDate" itemprop="datePublished"></span>
  
</li>
 
</ul>


</div>

<div class="container">
<h3> PRESS </h3>
<ul class="list-unstyled activity-stream-list">
<li class="press-release" itemscope="" itemtype="http://schema.org/Article">
 

  <a itemprop="headline" target="_blank" href="drie_joins_cyber_londons_cyber_security_accelerator.html">
  drie joins Cyber London’s cyber security accelerator</a>
    <cite itemprop="publisher" class="publishedAgency">- Sept 26, 2016</cite><span class="publishedDate" itemprop="datePublished"></span></li>

</ul>



</div>

<br><br>

</div>


<%= render "shared/footer" %>

    </div>
    
    <%= render "shared/hubspot" %>

    </body>

</html>