<!DOCTYPE html>
<html>
    <head>
        <title>Starter Kit</title>
        <link rel="stylesheet" href="./styles.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- This snippet is used to setup Simpla on your site -->
        <script src="https://app.simpla.io"></script>
        <script>
            // Replace 'PROJECT-KEY' with your API key You can get your project's API key from https://simpla.io
            Simpla('rJ-stj0a');
        </script>

        <style>
            .circular--square {
                border-radius: 50%;
            }

        </style>

    </head>
    <body>

        <%= render "shared/menu" %>

        <section>
            <div class="container">
                <div class="row">

                  <h1>drie_push</h1>
                  
                    <div class="col-md-12 text-center">

                        <!-- Every Simpla element needs a unique ID, which we provide in
           an sid (Simpla ID) attribute on the element.   -->
                        <h2 class="splash__subtitle">
                            <simpla-text sid="splash-subtitle"></simpla-text>
                        </h2>
                        <h2 class="splash__subtitle">
                            <simpla-text sid="splash-subtitle2"></simpla-text>
                        </h2>
                        <a href="./drie_push_designer.html">
                            <simpla-img class="circular--square" sid="img"></simpla-img>
                        </a>

                        <a href="./drie_push_developer.html">
                            <simpla-img class="circular--square" sid="img1"></simpla-img>
                        </a>

                        <div></div>

                        <div></div>

                    </div>
                </div>
            </div>
        </section>

        <%= render "shared/footer" %>
    </div>
    <%= render "shared/hubspot" %>
</body>
</html>
